/*----------------------------------------- Fonts */

@import url('https://fonts.googleapis.com/css?family=Tangerine:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One:100,200,300,400,500,600,700');

/*----------------------------------------- Colors */

.bg-color-footer {
    background-color: #d8dde2;
}

.color-social-media-links {
    background-color: #a7b9d6;
}

/*----------------------------------------- Header / Navbar content */

/*----------------------------------------- Center page content */

.jumbotron {
    background-image: url("/assets/images/welcome.jpg");

    /* ensure image scales on smaller screens */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;

    margin: 0;

    /*transition: all .5s ease-in-out;*/
}

.jumbotron h1, p {
    color: #ffffff;
    padding-top: 0;
    font-family: "Tangerine", sans-serif;
    font-weight: 500;
    font-size: 100px;
}

.jumbotron p {
    font-size: 50px;
}

/*----------------------------------------- Images page content */

.carousel-caption p{
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 100;
    font-size: 20px;
}

/*----------------------------------------- About page content */

.about-text p{
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #000000;
}

.about-row {
    margin-top: 10px;
}

/*----------------------------------------- Media page content */

.media-row p{
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #000000;
}

.audio-player{
    /* move audio play just off from the nav bar */
    padding-top: 20px;
}

.video-player{
    margin-top: 10px;
}

/*----------------------------------------- Footer content */

.social-media-links {
    text-align: center;
    font-size: 30px;
    color: #428aff;
}

.social-media-links a {
    /* remove underline from link */
    text-decoration: none;
}

.fa-bus {
    font-size: 25px;
    padding-left: 25px;
}

.footer-panel {
    min-height: 150px;
    margin-top: 15px;
}
